{% extends 'page.html' %}
{% load staticfiles %}
{# This page displays the question feeds app #}

  {% block content %}

    <div class="container">
      <div class="row">

        <!-- Left sidebar -->
        <div class="col-md-3" id="sidebar">

          <h4>View Questions By:</h4>
          <hr class="sidebar-sep" />
          <ul class="nav nav-pills nav-stacked">
            <li {% if sort == 'recent' %}class="active"{% endif %}>
              <a href="?sort=recent">Recent Questions</a>
            </li>
            <li {% if sort == 'newest' %}class="active"{% endif %}>
              <a href="?sort=newest">Newest Questions</a>
            </li>
            <li {% if sort == 'popular' %}class="active"{% endif %}>
              <a href="?sort=popular">Most Popular</a>
            </li>
            <li {% if sort == 'frequent' %}class="active"{% endif %}>
              <a href="?sort=frequent">Most Answered</a>
            </li>
            <li {% if sort == 'unanswered' %}class="active"{% endif %}>
              <a href="?sort=unanswered">Unanswered Questions</a>
            </li>
          </ul>
        </div><!-- end left sidebar -->

        <!-- Right content -->
        <div class="col-md-9">
          {% for question in question_list %}
            <div class="question">
              <div class="question-title">
                <h3>
                  <a href="{{ question.get_absolute_url }}" title="Question Detail">
                    {{ question.text }}
                  </a>
                </h3>
              </div>
              <div class="question-byline">
                <img title="{{ question.author }}" src="{{ question.author.profile.gravatar }}" />
                <p>asked by {{ question.author.get_full_name }}</p>
                <p class="text-muted"><small>asked on {{ question.created|date }}</small></p>
              </div>
              <div class="question-details">
                {% if question.details %}
                  {{ question.details_rendered|safe }}
                {% endif %}
              </div>
              <div class="question-actions">
                <p>
                  <span class="label label-info">{{ question.answers.count }} answer{{ question.answers.count|pluralize }}</span>
                  <span class="label label-info">{{ question.votes.count }} vote{{ question.votes.count|pluralize }}</span>
                  {% for tag in question.tags.all %}
                  <span class="label label-primary">{% if tag.is_synonym %}{{ tag.head_word }}{% else %}{{ tag }}{% endif %}</span>
                  {% endfor %}
                </p>
              </div>
            </div>
          {% endfor %}

          {% if is_paginated %}
            {% load paginator %}
            {% paginator 3 %}
          {% endif %}

        </div><!-- end right content -->

      </div>
    </div>

  {% endblock %}

  {% block javascripts %}
    <!-- Scripts -->
    {{ block.super }}
    <script type="text/javascript">
      require(['app/main'], function(app) {
        app.start();
      });
    </script>
  {% endblock %}
