{% extends 'page.html' %}
{% load humanize %}
{# This page displays the question feeds app #}

  {% block content %}

    <div class="container">
      <div class="row">

        <!-- Left sidebar -->
        <div class="col-md-3" id="sidebar">

          <h3 class="top-bar-heading">
            {{ num_all_questions|intcomma }}
            <small class="text-muted">Questions</small>
          </h3>

          <hr class="sidebar-sep" />

          <form role="search" style="margin: 10px 0;" action="{% url 'question-list' %}" method='GET'>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search" id="search" value="{{ search }}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </form>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">View Questions By:</h4>
            </div>
            <div class="list-group">
              <a class="list-group-item{% if sort == 'recent' %} active{% endif %}" href="?sort=recent">Recent Questions</a>
              <a class="list-group-item{% if sort == 'newest' %} active{% endif %}" href="?sort=newest">Newest Questions</a>
              <a class="list-group-item{% if sort == 'popular' %} active{% endif %}" href="?sort=popular">Most Popular</a>
              <a class="list-group-item{% if sort == 'frequent' %} active{% endif %}" href="?sort=frequent">Most Answered</a>
              <a class="list-group-item{% if sort == 'unanswered' %} active{% endif %}" href="?sort=unanswered">Unanswered Questions</a>
            </div>
          </div>

        </div><!-- end left sidebar -->

        <!-- Right content -->
        <div class="col-md-9">

          {% if tag and question_list %}
          <h3 class="top-bar-heading">Questions tagged by <span class="text-primary">&ldquo;{{ tag }}&rdquo;</span></h3>
          <hr class="sidebar-sep" />
          {% endif %}

          {% if search and question_list %}
          <h3 class="top-bar-heading">Results for <span class="text-primary">&ldquo;{{ search }}&rdquo;</span></h3>
          <hr class="sidebar-sep" />
          {% endif %}

          {% for question in question_list %}
            <div class="question">
              <div class="question-title">
                <h3>
                  <a href="{{ question.get_absolute_url }}" title="Question Detail">
                    {{ question.text }}
                  </a>
                </h3>
              </div>
              <div class="question-byline">
                <img title="{{ question.author }}" src="{{ question.author.profile.gravatar }}" />
                <p>asked by {{ question.author.get_full_name }}</p>
                <p class="text-muted"><small>asked on {{ question.created|date }}</small></p>
              </div>
              <div class="question-details">
                {% if question.details %}
                  {{ question.details_rendered|safe }}
                {% endif %}
              </div>
              <div class="question-actions">
                <p>
                  <span class="label label-info">{{ question.answers.count }} answer{{ question.answers.count|pluralize }}</span>
                  <span class="label label-info">{{ question.votes.count }} vote{{ question.votes.count|pluralize }}</span>
                  {% for tag in question.tags.all %}
                  <a href="{% url 'question-list' %}?tag={{ tag.slug }}" title="Show questions tagged: {{ tag.text }}">
                    <span class="label label-primary">{{ tag }}</span>
                  </a>
                  {% endfor %}
                </p>
              </div>
            </div>
          {% empty %}

          {% if tag %}
          <h3 class="top-bar-heading">No questions tagged with <span class="text-warning">&ldquo;{{ tag }}&rdquo;</span></h3>
          {% elif search %}
          <h3 class="top-bar-heading">No search results for <span class="text-warning">&ldquo;{{ search }}&rdquo;</span></h3>
          {% else %}
          <h3 class="top-bar-heading">No questions have been asked yet, be the first one!</h3>
          {% endif %}
          <hr class="sidebar-sep" />
          {% endfor %}

          {% if is_paginated %}
            {% load paginator %}
            {% paginator 3 %}
          {% endif %}

        </div><!-- end right content -->

      </div>
    </div>

  {% endblock %}

  {% block javascripts %}
    <!-- Scripts -->
    {{ block.super }}
    <script type="text/javascript">
      require(['app/main'], function(app) {
        app.start();
      });
    </script>
  {% endblock %}
