/* Styles for the tag grid page */

.tag-block {
    height: 192px;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin: 8px 0;
}

.tag-heading-left {
    width: 80%;
}

.tag-name {
    font-size: 0.90em;
}

.tag-count {
    padding-left: 6px;
}

.tag-body {
    margin: 6px 0;
}


.tag-description {
    font-size: .85em;
}

.tag-meta-list {
    font-size: .8em;
    position: absolute;
    bottom: 0;
}
