{% extends 'page.html' %}
{% load staticfiles %}
{% load humanize %}
{# This page displays the tag grid #}

{% block stylesheets %}
  {{ block.super }}
  <link type="text/css" rel="stylesheet" href="{% static 'css/taggrid.css' %}">
{% endblock %}

{% block content %}

    <div class="container">

      <!-- Page header -->
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h2>{{ num_all_tags|intcomma }} Tags</h2>
          </div>
        </div>
      </div>

      <div class="row">
        {% for tag in tag_list %}

        <!-- the size of the tag grid is determined responsively -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="tag-block">
            <div class="tag-heading">
              <div class="tag-heading-left pull-left">
                <a class="pull-left" href="{% url 'question-list' %}?tag={{ tag.slug }}">
                  <span class="tag-name label label-primary">{{ tag }}</span>
                </a>
                <span class="tag-count text-muted">
                  <small>x {{ tag.questions.count|intcomma }} questions</small>
                </span>
              </div>

              <div class="tag-heading-right pull-right">
              {% if user.is_staff %}
                <a href="{% url 'admin:tagging_tag_change' tag.id %}">
                  <small><i class="fa fa-edit"></i> edit</small>
                </a>
                {% endif %}
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="tag-body">
              {% if tag.description %}
              <p class="tag-description">{{ tag.description }}</p>
              {% endif %}
            </div>

            <ul class="list-inline list-unstyled tag-meta-list">
              {% if tag.is_synonym %}
              <li class="text-warning">Synonym: {{ tag.head_word }}</li>
              {% endif %}
              {% if user.is_staff %}
              <li>Creator: {{ tag.creator.username }}</li>
              {% else %}
              <li>Since {{ tag.created|date }}</li>
              {% endif %}
            </ul>

          </div>
        </div>

        {# responsive clearfix checks #}
        {% if forloop.counter|divisibleby:2 %}
        <div class="clearfix visible-sm-block"></div>
        {% endif %}

        {% if forloop.counter|divisibleby:3 %}
        <div class="clearfix visible-md-block"></div>
        {% endif %}

        {% if forloop.counter|divisibleby:4 %}
        <div class="clearfix visible-lg-block"></div>
        {% endif %}


        {% empty %}
        <!-- No tags warning! -->
        <div class="col-xs-12">
          <div class="alert alert-warning" role="alert">
            <strong>Heads up!</strong>
            No questions have been tagged, quick go tag some!
          </div>
        </div>
        {% endfor %}
      </div><!-- grid row ends -->
    {# finished iterating over the tag grid #}

      {# add pagination to the template #}
      {% if is_paginated %}
        {% load paginator %}
        <div class="row">
          <div class="col-xs-12">
            {% paginator 3 %}
          </div>
        </div>
      {% endif %}

    </div><!-- container ends -->

{% endblock %}
