    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <ul class="list-unstyled list-inline">
              <li><a href="{% url 'terms' %}">Terms</a></li>
              <li><a href="{% url 'privacy' %}">Privacy</a></li>
              <li><a href="{% url 'api:api-root' %}">API</a></li>
              <li><a href="https://github.com/DistrictDataLabs/"><i class="fa fa-github"></i></a></li>
              <li><a href="https://twitter.com/DistrictDataLab/"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-6">
            <p class="text-right text-muted">
              Copyright &copy; 2016 District Data Labs
            </p>
          </div>
        </div>
      </div>
    </div>
