    <!-- CSRF for AJAX requests -->
    {% csrf_token %}

    <!-- Ask Question Modals -->
    <div id="askQuestionModal" class="modal fade" tabindex="-1"
         role="dialog" aria-labelledby="askQuestionModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Ask Question</h4>
          </div>
          <div class="modal-body">
            <form id="askQuestionForm">
              <div class="form-group">
                <textarea id="txtQuestion" class="form-control" rows="2" placeholder="Enter Question Text"></textarea>
                <span id="txtQuestionHelpBlock" class="help-block"></span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="btnAskQuestionBack" type="button"
                    class="btn btn-default btn-sm invisible">
              Back
            </button>
            <button id="btnAskQuestionNext" type="submt"
                    class="btn btn-primary btn-sm" form="askQuestionForm">
              Next
            </button>
          </div>

        </div> <!-- .modal-content -->
      </div> <!-- .modal-dialog -->
    </div> <!-- .modal -->
